{% extends "layout.html" %}
{% block content %}
<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Hero Section -->
  <div class="bg-img-hero" style="background-image: url({{ url_for('static', filename='svg/components/abstract-shapes-12.svg') }});">
    <div class="container space-top-3 space-top-lg-4 space-bottom-2">
      <div class="w-md-80 w-lg-60 text-center mx-md-auto">
        <h1>Got a project for us?</h1>
        <p>We help brands and platforms turn big ideas into great chatbot experiences.</p>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Hire Us Form Section -->
  <div class="container space-2 space-bottom-lg-3">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="row">
      <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="#" data-dismiss="alert"
            >&times;</a
          >
          {{ message }}
        </div>
        <!-- end .alert -->
        {% endfor %}
      </div>
      <!-- end col-md -->
    </div>
    <!-- end row -->
    {% endif %} {% endwith %}
    {% include 'public/forms/contact_form.html' %}
  </div>
  <!-- End Hire Us Form Section -->
</main>
<!-- ========== END MAIN ========== -->

{% endblock %}
