
{% extends "layout.html" %}
{% block content %}
<!-- Hero Section -->
<div class="container space-top-2 space-top-md-4 space-top-lg-3">
  <div class="border-bottom">
    <div class="w-lg-75 text-center mx-lg-auto">
      <div class="mb-9">
        <h1 class="display-4 mb-4">Automate your customer experience</h1>
        <p class="lead">We build omni-channel chatbots so you can process more leads and customer inquiries!</p>
      </div>

      <div class="w-lg-75 mx-lg-auto">
        <img class="img-fluid" src="{{ url_for('static', filename='svg/illustrations/communicating-men.svg') }}" alt="Image Description">
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->
{% include 'public/widgets/benefits.html' %}

{% include 'public/widgets/process.html' %}
<!-- CTA Section -->
<div class="bg-primary text-center bg-img-hero" style="background-image: url({{ url_for('static', filename='svg/components/abstract-shapes-5.svg') }});">
  <div class="container space-2">
    <div class="mb-5">
      <h2 class="text-white">Get your dream chatbot today</h2>
    </div>
    {% with class="btn btn-light transition-3d-hover" %}
    {% include 'public/widgets/calendly.html' %}
    {% endwith %}
  </div>
</div>
<!-- End CTA Section -->
{% endblock %}
