<!-- Step Section -->
<div class="container space-2">
  <!-- Title -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <span class="d-block small font-weight-bold text-cap mb-2">Our chatbot development process</span>
    <h2>Solutions rooted in business value</h2>
  </div>
  <!-- End Title -->

  <!-- Step -->
  <ul class="step step-md step-centered">
    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary">1</span>
        <div class="step-content">
          <h3>Inception</h3>
          <p>We work with you to learn about your goals and your business. We help you define the business objectives we will tackle and define the project scope.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary">2</span>
        <div class="step-content">
          <h3>Design &amp; Development</h3>
          <p>Next, our team of conversational design experts will create the conversation flows and integration points. Our development team then takes over and builds your chatbot.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary">3</span>
        <div class="step-content">
          <h3>Maintainance</h3>
          <p>Finally, our team monitors your chatbot against real user conversations so we can continually optimze it for peak performance.</p>
        </div>
      </div>
    </li>
  </ul>
  <!-- End Step -->
</div>
<!-- End Step Section -->
