<!-- Process Section -->
<div class="overflow-hidden">
  <div class="container space-2">
    <div class="row justify-content-lg-between align-items-lg-center">
      <div class="col-lg-6 mb-9 mb-lg-0">
        <!-- Mockups -->
        <div class="position-relative max-w-40rem mx-auto">
          <div class="device device-iphone-x w-85 mx-auto">
            <img class="device-iphone-x-frame" src="{{ url_for('static', filename='svg/components/full-stack.svg') }}" alt="Image Description">
            <!-- add iphone screenshot of a sample convo here -->
            {#<img class="device-iphone-x-screen" src="{{ url_for('static', filename='img/407x867/img1.jpg') }}" alt="Image Description">#}
          </div>
          <div class="position-absolute bottom-0 right-0 max-w-50rem w-100 z-index-n1 mx-auto">
            <img class="img-fluid" src="{{ url_for('static', filename='svg/components/abstract-shapes-3.svg') }}" alt="Image Description">
          </div>
        </div>
        <!-- End Mockups -->
      </div>

      <div class="col-lg-5">
        <div class="mb-5">
          <h2>Our chatbot development process</h2>
        </div>

        <!-- Icon Block -->
        <ul class="step step-dashed mb-7">
          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-xs step-icon-soft-primary">1</span>
              <div class="step-content">
                <h3 class="h4">Inception</h3>
                <p>We work with you to learn about your goals and your business. We help you define the business objectives we will tackle and define the project scope.</p>
              </div>
             </div>
          </li>
          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-xs step-icon-soft-primary">2</span>
              <div class="step-content">
                <h3>Design &amp; Development</h3>
                <p>Next, our team of conversational design experts will create the conversation flows and integration points. Our development team then takes over and builds your chatbot.</p>
              </div>
            </div>
          </li>
          <li class="step-item mb-0">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-xs step-icon-soft-primary">3</span>
              <div class="step-content">
                <h3>Maintainance</h3>
                <p class="mb-0">Finally, our team monitors your chatbot against real user conversations so we can continually optimze it for peak performance.</p>
              </div>
            </div>
          </li>
        </ul>
        <!-- End Icon Block -->
      </div>
    </div>
  </div>
</div>
<!-- End Features Section -->
